.offset-margin{
    margin:6rem 0;
}

.heading{
    color:white;
    font-size:4rem;
    margin-bottom:2rem;
}

.description{
    color:white;
    font-size:2rem;
    margin-bottom:4rem;

}

.btnn{
    color:white;
    padding:0.5rem 2rem;
    font-size:1.5rem;
    border-width:4px;
    display:block;
    margin-bottom:2rem;

    background-color:black;
    border-style: solid;
    border-image: linear-gradient(to right, rgb(255, 255, 255), rgb(55, 55, 55)) 1;
}


.format-quote{
    font-style:italic;
    font-size:2.1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.link-format{
    text-decoration:none;
    color:white;
}

.link-format:hover{
    color:darkgrey;
}