.border-gradient{
    border:1px solid white;
    border-left:150px solid transparent;
    border-right:150px solid transparent;
}

.pointer-cursor{
    cursor:pointer;
}

@media only screen and (max-width:700px){
    .bulb-mode{
        display: none;
    }
}

