.linkformat{
    text-decoration:none;
    color:white;
    font-size:1.2rem;
}

.linkformat:hover{
    color:grey;
}

.brand-format{
    font-size:2rem !important;
}

@media only screen and (max-width:700px){
    .brand-format{
        font-size:1.4rem !important;
        margin-left:-2rem;
        margin-right:1.5rem !important;
    }
    .linkformat{
        font-size:0.89rem;
        background-color: lightgrey;
        padding:0.4rem;
        border-radius:1rem;
        color:black;
    }
    .linkside{
        margin-right:-2.5rem !important;
    }
}